@media screen and (min-width: 1000px) {

  @function get-column-size($elements) {
     $size: 90 / $elements;
    @return $size;
  }

  .main-section {
    padding: 35px 50px;
  }

  .main-article {
    padding: 20px 45px 30px;
  }

  %section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }


  @each $column in $column-list {
    .section-col-#{$column} {
      @extend %section;

      .column {
        width: get-column-size($column) * 1%;
        margin: 20px 0;
      }
    }
  }

  .section-title::after {
    left: 65px;
  }

  .column.social-icon {
    max-width: unset;
  }

  #profile-photo {
    max-width: 40%;
    max-height: 250px;
    width: auto;
    margin: auto;
  }

  #profile-photo + article {
    width: 60%;
  }

  #gallery {
    clear: both;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 5%;

    img {
      display: block;
      max-width: 30%;
    }
  }

}
