/* CONTACT ME SECTION */

.social-icon {
  float: left;
  padding: 15px;
  max-width: 150px;
  width: 45%;
  margin: 20px 2.5%;

  img {
    width: 100%;
  }

  a:hover > img {
     filter: invert(100%);
     transition-duration: 0.5s;
   }
}


/* FOOTER SECTION */

footer {
  height: 60px;
  font-family: $main-basic-font;
  @include all-center();

  p {
    opacity: .6;
    font-size: 90%;
  }
}

